<launch>

	<node pkg="tf"
		  type="static_transform_publisher"
		  name="static_transform_publisher"
		  output="screen"
		  args=" 0 0 0 1 0 0 0 world g_world 5"
	/>

	<arg name="rvizconfig" default="$(find geo_controller)/config/vicon_geo.rviz" />
	<!--<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />-->

	<arg name="frame" default="vicon/crazyflie/crazyflie"/>
	<arg name="worldFrame" default="/g_world"/>

	<node name="geocontroller" pkg="geo_controller" type="geo_controller" output="screen">
		<param name="frame" value="$(arg frame)" />
		<param name="worldFrame" value="$(arg worldFrame)" />
		<rosparam command="load" file="$(find geo_controller)/config/crazyflie2-geo-config.yaml"/>
	</node>
</launch>
